<!DOCTYPE html>
<header>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrapwatch.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
</header>
<body>
	{{ content }}

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" />
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" />

</body>
</html>