<!DOCTYPE html>
<header>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootswatch.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
</header>
<body>
	{% include header.html %}
	<div class="container">
		<div class="row">
			<div class="col-md-7">{{ content }}</div>
			{% if page.forms[0] %}
			{% include form.html form="1" %}
			{% endif %}
			<div class="col-md-1"></div>
			<div class="col-md-4">{% include sidebar.html %}</div>
		</div>
		{% include footer.html %}
	</div>
	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" />
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" />

</body>
</html>